DJANGO_SECRET_KEY=replace-with-your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
COLAB_API_URL=https://your-ngrok-url/generate
NGROK_AUTH_TOKEN=your-ngrok-auth-token
